body {
  background-color: #f3f3f3;
}

.profile-box {
  background: #f8f9fa;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: linear-gradient(135deg, #007bff, #00c6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: #ffc107;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.recipe-card {
  background: white;
  border-radius: 20px;
  padding: 20px;
  transition: 0.3s;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
}

.recipe-card:hover {
  transform: translateY(-5px);
}

.recipe-card img {
  height: 180px;
  object-fit: cover;
}

button {
  border-radius: 30px;
}
.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #0d6efd;
}